html, body {
  text-align: center;
   background-color: var(--primary);
  color: var(--secondary);
  box-sizing: border-box;
  font-family: "Sigmar", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-color: #181515;
}
:root {
  --blood-red: #7a000a;
  --maroon: #c77a7a;
  --bright-red: #c70000;
  --black: #181515;
  --button-color: #d40000;
  --white: #f6f5f5;
  --light-pink: #fcbfbf;

  --primary: var(--black);
  --secondary: var(--maroon);
}

.cool {
  --primary: var(--black);
  --secondary: var(--blood-red);
}

.warm {
  --primary: var(--white);
  --secondary: var(--light-pink);
}

.hero {
  background-color: var(--primary);
  color: var(--secondary);
}





.title {
  font-family: "Sigmar", sans-serif;
  padding-bottom: 10px;
  font-size: 45px;
  color: var(--blood-red);
}

h1 {
 
  font-family: "Sigmar", sans-serif;
  padding-bottom: 10px;
  font-size: 100px;
  color: var(--blood-red);
}

h2 {
  font-family: "Sigmar", sans-serif;
  padding-bottom: 10px;
  font-size: 30px;
  color: var(--maroon); 
  margin-top: 0;
}


img {
  width: 25%;
  height: 25%;
  object-fit: cover;
  border-radius: 20px;
  aspect-ratio: 2/3;
}




.main {
  width: 100%;
  text-align: center;
}

.all {
  background-color: #d40000; 
    border-color: #3f0000;
    color: #ffb4b4; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 25px; 
    font-family: "Sigmar", sans-serif;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.5s ease;
}
.horror {
  background-color: var(--secondary);
  color: var(--primary); 
    border-color: #3f0000;
     
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 25px; 
     font-family: "Creepster";
    font-weight: 400px;
    font-style: normal;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.5s ease;
}
.disney {
  background-color: #d40000; 
    border-color: #3f0000;
    color: rgb(255, 180, 180); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 25px; 
      font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;

    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.5s ease;
}
.pixar {
  background-color: #d40000; 
    border-color: #3f0000;
    color: rgb(255, 180, 180); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 25px; 
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.5s ease;
}
.super {
  background-color: #d40000; 
    border-color: #3f0000;
    color: rgb(255, 180, 180); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 25px; 
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.5s ease;
}
.addMovie {
    background-color: #d40000; 
    border-color: #3f0000;
    color: rgb(255, 180, 180); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px; 
    font-family: "Sigmar", sans-serif;
    margin-top: 15px;
    
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.5s ease;
    
}
.addMovie:hover {
  background-color: #a00000;
  transition: ease-in;
}
.all:hover {
  background-color: #a00000;
  transition: ease-in;
}
.horror:hover {
  background-color: #a00000;
  transition: ease-in;
}
.disney:hover {
  background-color: #a00000;
  transition: ease-in;
}
.pixar:hover {
  background-color: #a00000;
  transition: ease-in;
}
.super:hover {
  background-color: #a00000;
  transition: ease-in;
}
