.title {
  background-color: rgb(216, 155, 240);
  text-align: center;
  width: 1000px;
  margin: 100px auto;
  padding: 0px;
  font-size: 50px;
  font-family: "Kranky", serif;
}

h1 {
  font-family: "Sigmar", sans-serif;
  padding-bottom: 10px;
  font-size: 60px;
  color: #a9232e
}

h2 {
  font-family: "Sigmar", sans-serif;
  padding-bottom: 10px;
  font-size: 30px;
  color: rgb(212, 136, 136);
  margin-top: 0;
}

.child {
  border: 5px solid rgb(213, 162, 234);
  width: 22%;
  height: auto;
  text-align: center;
  background-color: rgb(251, 204, 255);
  margin: 15px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
}

img {
  width: 25%;
  height: 25%;
  object-fit: cover;
  border-radius: 20px;
  aspect-ratio: 2/3;
}

.addCart {
  background-color: rgba(189, 199, 244, 1);
  border-width: 5px;
  margin: 10px auto;
  font-size: 16px;
}

html, body {
  text-align: center;
  box-sizing: border-box;
  font-family: "Sigmar", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-color: rgb(24, 21, 21);
}

.container {
  width: 100%;
  text-align: center;
}

.cart-total {
  border: 1px solid #f4beff;
  padding: 15px;
  margin-top: 20px;
  background-color: #f4d1ff;
}
.cart-total h1 {
  margin-bottom: 10px;
}
.cart-total p {
  margin-bottom: 5px;
  font-size: large;
}

.all {
  background-color: #d40000; 
    border-color: #3f0000;
    color: rgb(255, 180, 180); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.5s ease;
}
.horror {
  background-color: #d40000; 
    border-color: #3f0000;
    color: rgb(255, 180, 180); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
     font-family: "Creepster", system-ui;
  font-weight: 400;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.5s ease;
}
.disney {
  background-color: #d40000; 
    border-color: #3f0000;
    color: rgb(255, 180, 180); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.5s ease;
}
.pixar {
  background-color: #d40000; 
    border-color: #3f0000;
    color: rgb(255, 180, 180); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.5s ease;
}
.super {
  background-color: #d40000; 
    border-color: #3f0000;
    color: rgb(255, 180, 180); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.5s ease;
}
.addCart {
  background-color: #d40000; 
    border-color: #3f0000;
    color: rgb(255, 180, 180); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.5s ease;
}
.addCart:hover {
  background-color: #a00000;
  transition: ease-in;
}
.all:hover {
  background-color: #a00000;
  transition: ease-in;
}
.horror:hover {
  background-color: #a00000;
  transition: ease-in;
}
.disney:hover {
  background-color: #a00000;
  transition: ease-in;
}
.pixar:hover {
  background-color: #a00000;
  transition: ease-in;
}
.super:hover {
  background-color: #a00000;
  transition: ease-in;
}